<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Good Company Home Page</title>
  </head>
  <body>


    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Good Company</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to Good Company</h1>
        <p class="lead">
          Providing quality services to meet your needs
        </p>
        <div>
  <img id="imgLogo" class="desktoplogo" src="http://www.espint.com/media/design/ESP_Logo_horizontal_one-color.png" alt="ESP International" style="width: 200px;">
</div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p>
            Good Company is a trusted provider of quality services. Ask us anything using this box:
          </p>
          <p>Your answer here: {{ response }}</p>
                        <form action="/response" method="post">
                <div class="form-group">
                  <label for="prompt">Prompt:</label>
                  <textarea name="prompt" id="prompt" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Get Response</button>
              </form>
        </div>
      </div>
    </div>
  </body>
</html>
